.container{
    display:block;
    margin: auto;
    width: 440px;
    margin-top: 100px;
}

.row {
  display: flex;        /* بچه‌ها کنار هم قرار می‌گیرند */
  
}

.button {
  flex: 1;             /* همه دکمه‌ها عرض مساوی داشته باشند */
  padding: 15px;
  font-size: 20px;
  background-color: #4d4d4d;
  color: #fff;
}
.button:hover,.clear:hover{
    background-color:#666666 ;
}
.display{
    width: 322px;
    height: 50px;
    background-color: #2c3e50;
    color: #ffffff;
    font-size: 24px;
}
.clear{
    width: 110px;
    background-color: #4d4d4d;
    
}
